* {
    padding: 0;
    margin: 0;
    font-family: "Encode Sans Semi Condensed", sans-serif;
}

/*************************header********************/

.container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    /*border: 1px solid violet;*/
    padding-left: 33px;
}

header {
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-image: url(../img/index/banner_grande.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 100% auto; */
    height: 600px;
}

.logo_nissan {
    width: 180px;
}

.menu {
    width: 650px;
}

.lista_menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.a_menu {
    text-decoration: none;
}

.texto_menu {
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.texto_menu:hover {
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
}

.logo_menu {
    margin-top: -5px;
    width: 20px;
}

/*************************body********************/

.autoselectpro {
    display: flex;
    justify-content: end;
    margin-top: -90px;
    background-color: rgba(253, 253, 253, 0.116);
}

.autoselectpro_link {
    text-decoration: none;
    color: black;
    font-family: "Encode Sans Semi Condensed", sans-serif;
    padding-right: 40px;
    font-size: 17px;
    font-weight: 500;
    text-decoration: underline;
}

.info_banner {
    margin-top: 120px;
    margin-left: 30px;
    color: white;
    font-family: "Encode Sans Semi Condensed";
}

.p1_banner {
    letter-spacing: 1px;
}

.titulo_banner {
    font-weight: 200;
    letter-spacing: 4px;
    font-size: 50px;
    margin: 5px 0;
}

.p2_banner {
    letter-spacing: 1px;
    font-size: 14px;
    margin-bottom: 30px;
}

.boton_banner {
    padding: 15px 25px;
    background-color: rgb(195, 0, 47);
    color: white;
    font-family: "Encode Sans Semi Condensed";
    font-weight: 500;
    border: 0px;
    border-radius: 1px;
}

.boton_banner:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
}

.imagenes_banner {
    display: flex;
    justify-content: center;
    margin-top: -60px;
    overflow: auto;
}

.imagenes_banner::-webkit-scrollbar {
    height: 5px;
    background-color: #f0f0f0;
}

.imagenes_banner::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}

.img_banner {
    width: 200px;
    height: 120px;
}

.menu_automoviles {
    margin-left: 130px;
    padding-top: 70px;
}

.lista_automoviles {
    display: flex;
    list-style: none;
    white-space: nowrap;
}

.texto_automoviles {
    padding: 5px;
    color: black;
    font-family: "Encode Sans Semi Condensed";
    font-size: 14px;
    margin-top: 50px;
    padding-right: 20px;
    font-weight: 1000;
}

.--destacados {
    color: rgb(195, 0, 47);
}

.a_automoviles {
    text-decoration: none;
}

.texto_automoviles:hover {
    color: rgb(152, 2, 37);
    transition: all 0.2s ease-in-out;
}

.section-header {
    margin-left: 130px;
    margin-top: 20px;
}

.header-link {
    line-height: 1.57142857;
    color: #8a8a8a;
    display: none;
}

.vehicles-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 80px;
    text-align: center;
    padding: 30px 0 0;
}

.tabs-content {
    display: none;
}

.carrito_boton {
    padding-right: 60px;
    padding-top: 20px;
}

.carrito_boton:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.img_carritos {
    width: 200px;
}

.p_carritos {
    text-align: center;
    padding-top: 30px;
}

.p_carritos:hover {
    color: rgb(152, 2, 37);
}

.a_carritos {
    text-decoration: none;
    font-family: "Encode Sans Semi Condensed";
    color: black;
    font-weight: 1000;
}

.info_gris {
    display: flex;
    justify-content: center;
}

.info_autoselectpro {
    background-color: rgb(238, 234, 234);
    width: 1200px;
    margin: 40px 0;
    padding: 50px 0;
    font-family: "Encode Sans Semi Condensed";
    text-align: center;
}

.titulo_auto {
    font-size: 27px;
    letter-spacing: 2px;
    font-weight: 450;
    padding: 10px 0;
}

.p_autoselectpro {
    font-size: 14px;
    padding: 5px 40px;
}

.boton_autoselectpro {
    padding: 15px 25px;
    background-color: rgb(195, 0, 47);
    color: white;
    font-family: "Encode Sans Semi Condensed";
    font-weight: 500;
    border: 0px;
    border-radius: 1px;
    margin: 30px 0 0 0;
}

.boton_autoselectpro:hover {
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.campanas_seguridad {
    background-color: rgb(238, 234, 234);
    width: 1200px;
    margin: 40px 0;
    padding: 50px 0;
    font-family: "Encode Sans Semi Condensed";
    text-align: center;
}

.titulo_campanas_seguridad {
    font-size: 27px;
    letter-spacing: 2px;
    font-weight: 450;
    padding: 10px 0;
}

.boton_campanas_seguridad {
    padding: 15px 25px;
    background-color: rgb(195, 0, 47);
    color: white;
    font-family: "Encode Sans Semi Condensed";
    font-weight: 500;
    border: 0px;
    border-radius: 1px;
    margin: 30px 0 0 0;
}

.boton_campanas_seguridad:hover {
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.me_gustaria {
    background-color: rgb(238, 234, 234);
    width: 1200px;
    margin: 40px 0;
    padding: 50px 0;
    font-family: "Encode Sans Semi Condensed";
    text-align: center;
}

.titulo_me_gustaria {
    font-size: 27px;
    letter-spacing: 2px;
    font-weight: 450;
    padding: 10px 0;
    padding-bottom: 40px;
}

.iconos_me_gustaria {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

.logo_me_gustaria {
    width: 50px;
}

.iconos_me_gustaria p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
}

.iconos_me_gustaria p:hover {
    text-decoration: underline;
    text-decoration-color: rgb(195, 0, 47);
    text-decoration-style: solid;
    text-decoration-thickness: 4px;
}

.a_me_gustaria {
    text-decoration: none;
    color: black;
}

.rayita {
    width: 55px;
    height: 4px;
    background-color: rgb(195, 0, 47);
    margin-left: 160px;
    margin-top: 50px;
}

.titulo_redes_sociales {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 450;
    margin-left: 160px;
    margin-top: 10px;
    font-weight: 400;
}

.noticias {
    padding-top: 40px;
}

.titulo_noticias {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 450;
    margin-left: 160px;
    margin-top: 10px;
    font-weight: 400;
}

.noticia_singular {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
}

.noticia_singular_titulo {
    width: 570px;
    padding: 30px 25px;
}

.img_noticia_singular {
    width: 570px;
}

.h5_noticia_singular {
    padding-top: 20px;
    font-weight: 1000;
}

.h2_noticia_singular {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 450;
    font-weight: 400;
    padding-top: 5px;
}

.p_noticia_singular {
    padding-top: 15px;
    line-height: 25px;
}

.boton_noticia_singular {
    padding: 15px 25px;
    background-color: rgb(195, 0, 47);
    color: white;
    font-family: "Encode Sans Semi Condensed";
    font-weight: 500;
    border: 0px;
    border-radius: 1px;
    margin-top: 20px;
}

.boton_noticia_singular:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
}

.a_boton_noticia_singular {
    text-decoration: none;
}

.mas_noticias {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.boton_mas_noticias {
    padding: 15px 25px;
    background-color: rgb(195, 0, 47);
    color: white;
    font-family: "Encode Sans Semi Condensed";
    font-weight: 500;
    border: 0px;
    border-radius: 1px;
    margin-top: 20px;
}

.boton_mas_noticias:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
}

/***********************************BOTON CHAT*******************************************/

/*boton chatbot*/
#container-chatbot {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 400px;
    margin-top: 100px;
}

#chatbot-title {
    width: 280px;
    height: 200px;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
    border-top: rgba(195, 33, 33, 1) 10px solid;
}

#chatbot-data {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
    width: 100%;
}

#logo-chat {
    margin: 50px 0px 50px 0px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("../img/logo_AutoSelectPro-fotor-2024021317942.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px center;
    border-color: transparent;
    position: fixed;
    top: 80%;
    left: 92%;
    z-index: 9999;
}

#chatbot-form {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
    height: 530px;
    margin-bottom: 170px;
    background-color: gray;
    border-radius: 2%;
    padding: 50px;
    color: white;
    position: fixed;
    top: 5%;
    left: 65%;
}

.chatbot-form-user {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    width: 100%;
    margin-bottom: 10px;
}

.chatbot-form-bot {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    margin-bottom: 10px;
}

.chatbot-text-user {
    width: 65%;
    margin-right: 60px;
    letter-spacing: 3px;
    word-spacing: 4px;
    font-weight: 900;
    text-align: end;
}

.chatbot-text-bot {
    width: 65%;
    margin-left: 60px;
    letter-spacing: 3px;
    word-spacing: 4px;
    font-weight: 900;
}

.chatbot-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#chatbot-button {
    width: 250px;
    height: 38px;
    color: white;
    font-style: italic;
    font-weight: 900;
    border-color: transparent;
    background: rgba(190, 7, 7, 0.44);
}

/***********************************FOOTER*******************************************/
.footer {
    height: 400px;
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.contenedorFooter {
    width: 1510px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    overflow: hidden;
}

.primer {
    width: calc(100% / 4);
    font-size: 10px;
}

.primer h2 {
    color: #fff;
    margin-top: 20px;
    font-size: 15px;
}

.primer h2:hover {
    text-decoration: underline;
    cursor: pointer;
}

.primer h3 {
    display: flex;
    margin-top: 20px;
    color: #8a8a8a;
}

.primer h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.segundo {
    width: calc(100% / 4);
    font-size: 10px;
}

.segundo h2 {
    color: #fff;
    margin-top: 20px;
    font-size: 15px;
}

.segundo h2:hover {
    text-decoration: underline;
    cursor: pointer;
}

.segundo h3 {
    display: flex;
    margin-top: 20px;
    color: #8a8a8a;
}

.segundo h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.tercer {
    width: calc(100% / 4);
    font-size: 10px;
}

.tercer h2 {
    color: #fff;
    margin-top: 20px;
    font-size: 15px;
}

.tercer h2:hover {
    text-decoration: underline;
    cursor: pointer;
}

.tercer h3 {
    display: flex;
    margin-top: 20px;
    color: #8a8a8a;
}

.tercer h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cuarto {
    color: #fff;
    margin-top: 20px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 10px;
}

.redes2 a {
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 20px;
    transition: 0.3s;
    margin-top: 15px;
    margin-left: 15px;
}

.redes2 a:hover {
    background-color: #970505;
    color: #fff;
}

/***********************************ULTIMO*******************************************/

.ultimoFooter {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #000000;
    color: #8a8a8a;
    font-size: 10px;
}

.uno {
    margin-left: 200px;
    margin-top: 30px;
}

.dos {
    margin-top: 30px;
    margin-left: 50px;
}

.tres {
    margin-top: 30px;
    margin-left: 486px;
    display: flex;

}

.cuatrop {
    margin-top: 30px;
    margin-left: 50px;
}

/*RESPONSIVE*/

/*COMPUTADORES*/

@media screen and (min-width: 1700px) {
    .menu_automoviles {
        margin-left: 250px;
    }

    .rayita {
        margin-left: 250px;
    }

    .titulo_redes_sociales {
        margin-left: 250px;
    }

    .titulo_noticias {
        margin-left: 250px;
    }
}

/*PORTATILES*/

@media screen and (min-width: 768px) and (max-width: 1300px) {

    header {
        height: 500px;
    }

    .logo_nissan {
        width: 125px;
    }

    .autoselectpro {
        margin-top: -70px;
    }

    .info_banner {
        margin-top: 85px;
    }

    .img_banner {
        width: 150px;
        height: 90px;
    }

    .menu_automoviles {
        margin-left: 10px;
        overflow-x: auto;
        overflow-y: hidden;
        width: 95%;
    }

    .menu_automoviles {
        margin-left: 10px
    }

    .menu_automoviles::-webkit-scrollbar {
        height: 2px;
        background-color: #f0f0f0;
    }

    .menu_automoviles::-webkit-scrollbar-thumb {
        background-color: rgb(195, 0, 47);
        ;
        border-radius: 5px;
    }

    .ultimoFooter {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        overflow: hidden;
    }

    .uno {
        margin-left: 20px;
        margin-top: 10px;
    }

    .dos {
        margin-left: 20px;
        margin-top: 10px;
    }

    .tres {
        margin-left: 20px;
        margin-top: 10px;
    }

    .cuatrop {
        margin-left: 20px;
        margin-top: 10px;
    }

    .logo_autoselectpro {
        left: 90%;
    }

    #logo-chat {
        top: 80%;
        left: 89%;
        width: 80px;
        height: 80px;
    }

    #chatbot-form {
        top: 0;
        left: 35%;
    }
}

/*TABLETS*/

@media screen and (min-width: 583px) and (max-width: 767px) {

    header {
        padding: 15px;
        display: flex;
        flex-direction: column;
        background-image: url(../img/index/banner_mediano.jpg);
        background-size: cover;
        height: 700px;
    }

    .logo_nissan {
        width: 130px;
    }

    .autoselectpro {
        margin-top: -80px;
    }

    .section_banner {
        margin-top: -30px;
        padding-top: 60px;
        overflow-x: auto;
        width: 100%;
    }

    .section_banner::-webkit-scrollbar {
        height: 5px;
        background-color: #f0f0f0;
    }

    .section_banner::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 5px;
    }

    .menu_automoviles {
        margin-left: 10px;
        overflow-x: auto;
        overflow-y: hidden;
        width: 95%;
    }

    .menu_automoviles::-webkit-scrollbar {
        height: 2px;
        background-color: #f0f0f0;
    }

    .menu_automoviles::-webkit-scrollbar-thumb {
        background-color: rgb(195, 0, 47);
        ;
        border-radius: 5px;
    }

    .carrito_boton {
        width: 150px;
        margin-top: 20px;
    }

    .p_carritos {
        margin-left: 10px;
        width: 100%;
    }

    .rayita {
        margin-left: 20px;
    }

    .titulo_redes_sociales {
        margin-left: 20px;
    }

    .titulo_noticias {
        margin-left: 20px;
    }

    .img_logo_autoselectpro {
        width: 70px;
        height: 70px;
    }

    .footer {
        height: 450px;
    }

    .ultimoFooter {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        overflow: hidden;
    }

    .uno {
        margin-left: 20px;
        margin-top: 10px;
    }

    .dos {
        margin-left: 20px;
        margin-top: 10px;
    }

    .tres {
        margin-left: 20px;
        margin-top: 10px;
    }

    .cuatrop {
        margin-left: 20px;
        margin-top: 10px;
    }

    .logo_autoselectpro {
        left: 85%;
    }

    .textPrefooter {
        margin-left: 100px;
    }

    #logo-chat {
        top: 80%;
        left: 89%;
        width: 80px;
        height: 80px;
    }

    #chatbot-form {
        top: 20%;
        left: 30%;
    }
}

/*CELULARES*/

@media screen and (min-width: 481px) and (max-width: 582px) {

    .container {
        display: flex;
        flex-direction: column;
        padding: 10px;
        /*border: 1px solid violet;*/
        padding-left: 33px;
        width: 90%;
    }

    header {
        padding: 15px;
        display: flex;
        flex-direction: column;
        background-image: url(../img/index/banner_pequeno.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        /* background-size: 100% auto; */
        height: 980px;
    }

    .menu {
        width: 90%;
    }

    .logo_nissan {
        width: 130px;
    }

    .lista_menu {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 20px;
    }

    .autoselectpro {
        margin-top: -120px;
    }

    .autoselectpro_link {
        padding-right: 16px;
        margin-right: 10px;
    }

    .section_banner {
        padding-top: 65px;
        margin: 0;
    }

    .logo {
        display: flex;
        margin: 0 auto;
        align-items: center;
    }

    .menu_automoviles {
        margin-left: 10px;
        overflow-x: auto;
        overflow-y: hidden;
        width: 95%;
    }

    .menu_automoviles::-webkit-scrollbar {
        height: 2px;
        background-color: #f0f0f0;
    }

    .menu_automoviles::-webkit-scrollbar-thumb {
        background-color: rgb(195, 0, 47);
        border-radius: 5px;
    }

    .rayita {
        margin-left: 10px;
    }

    .titulo_redes_sociales {
        margin-left: 10px;
    }

    .titulo_noticias {
        margin-left: 10px;
    }

    .noticia_singular_titulo {
        width: 90%;
    }

    .img_noticia_singular {
        width: 100%;
    }

    .footer {
        height: 450px;
    }

    .ultimoFooter {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        overflow: hidden;
    }

    .uno {
        margin-left: 20px;
        margin-top: 10px;
    }

    .dos {
        margin-left: 20px;
        margin-top: 10px;
    }

    .tres {
        margin-left: 20px;
        margin-top: 10px;
    }

    .cuatrop {
        margin-left: 20px;
        margin-top: 10px;
    }

    .logo_autoselectpro {
        left: 85%;
    }

    .textPrefooter {
        margin-left: 100px;
    }

    #logo-chat {
        top: 80%;
        left: 80%;
        width: 80px;
        height: 80px;
    }

    #chatbot-form {
        top: 20%;
        left: 15%;
    }
}

@media screen and (min-width: 200px) and (max-width: 480px) {
    .container {
        display: flex;
        flex-direction: column;
        padding: 10px;
        padding-left: 33px;
        width: 90%;
        margin-bottom: 30px;
    }

    header {
        padding: 15px;
        display: flex;
        flex-direction: column;
        background-image: url(../img/index/banner_pequeno.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 980px;
    }

    .menu {
        width: 95%;
    }

    .item_menu {
        padding-left: 5px;
        padding-bottom: 10px;
    }

    .logo_nissan {
        width: 130px;
    }

    .lista_menu {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        padding: 20px 0;
    }

    .autoselectpro {
        margin-top: -210px;
        margin-right: -20px;
    }

    .autoselectpro_link {
        padding-right: 16px;
        margin-right: 10px;
    }

    .section_banner {
        padding-top: 65px;
        margin: 0;
    }

    .p1_banner {
        padding-top: 20px;
    }

    .logo {
        display: flex;
        margin: 0 auto;
        align-items: center;
    }

    .menu_automoviles {
        margin-left: 10px;
        overflow-x: auto;
        overflow-y: hidden;
        width: 95%;
    }

    .menu_automoviles::-webkit-scrollbar {
        height: 2px;
        background-color: #f0f0f0;
    }

    .menu_automoviles::-webkit-scrollbar-thumb {
        background-color: rgb(195, 0, 47);
        border-radius: 5px;
    }

    .rayita {
        margin-left: 10px;
    }

    .titulo_redes_sociales {
        margin-left: 10px;
    }

    .titulo_noticias {
        margin-left: 10px;
    }

    .noticia_singular_titulo {
        width: 90%;
    }

    .img_noticia_singular {
        width: 100%;
    }

    .footer {
        height: 450px;
    }

    .ultimoFooter {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        overflow: hidden;
    }

    .uno {
        margin-left: 20px;
        margin-top: 10px;
    }

    .dos {
        margin-left: 20px;
        margin-top: 10px;
    }

    .tres {
        margin-left: 20px;
        margin-top: 10px;
    }

    .cuatrop {
        margin-left: 20px;
        margin-top: 10px;
    }

    .logo_autoselectpro {
        left: 85%;
    }

    .textPrefooter {
        margin-left: 100px;
    }

    #logo-chat {
        top: 80%;
        left: 80%;
        width: 70px;
        height: 70px;
    }

    #chatbot-form {
        top: 0%;
        left: 1%;
    }
}