* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
}

body {
    background-image: url("../img/Fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;


}

/***********************************HEADER*******************************************/
header {
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

.logo_nissan {
    width: 130px;
}

.menu {
    width: 650px;
}


.lista_menu {
    display: flex;
    justify-content: space-around;
    list-style: none;

}

.a_menu {
    text-decoration: none;
}

.texto_menu {
    font-size: 14px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.logo_menu {
    width: 30px;
}

.logo_menu:active .lista_menu {
    display: none;

}

/***********************************MAIN*******************************************/

.autoselectpro h2 {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    list-style: none;
    padding-right: 45px;
    background-color: #801628bd;
    margin-top: -80px;
}

.logo_autoselectpro {
    position: fixed;
    top: 85%;
    left: 92%;
    z-index: 9999;
}

.quienesSomos {
    display: flex;
    justify-content: center;
    background-color: #801628;
    width: 380px;
    margin: 100px auto 0px;
    color: #fff;
    font-size: 20px;
}

.carrusel {
    height: 650px;
}

.flechas {
    display: flex;
    justify-content: center;
}

.cards {
    margin: 0px auto;
    max-width: 1250px;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    margin-top: 50px;

}

.card {
    display: inline-block;
    flex-direction: column;
    margin-left: 10px;
    text-align: center;
    overflow: hidden;
    height: 500px;
    width: calc(100%/3);
    background-color: #801628bd;
    object-fit: cover;

}

.card h2 {
    margin-bottom: 20px;
    padding-top: 10px;
    font-size: 27px;
}

.card p {
    margin-bottom: 30px;
    font-size: 20px;
}

.card img {
    margin-left: calc(100%/50);
    border-radius: 100%;
}

.material-symbols-outlined {
    font-size: 40px;
    display: inline-flex;
}

.redes a {
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5 px;
    font-size: 20px;
    transition: .3s;
    margin-top: 15px;
    background-color: #801628;

}

.redes a:hover {
    background-color: #801628bd;
    color: #000000;
}

.carrusel .cards {
    white-space: nowrap;

}

/*boton chatbot*/
#container-chatbot {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 400px;
    margin-top: 100px;
}

#chatbot-title {
    width: 280px;
    height: 200px;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
    border-top: rgba(195, 33, 33, 1) 10px solid;
}

#chatbot-data {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
    width: 100%;
}

#logo-chat {
    margin: 50px 0px 50px 0px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("../img/logo_AutoSelectPro-fotor-2024021317942.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px center;
    border-color: transparent;
    position: fixed;
    top: 80%;
    left: 92%;
    z-index: 9999;
}

#chatbot-form {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
    height: 530px;
    margin-bottom: 170px;
    background-color: gray;
    border-radius: 2%;
    padding: 50px;
    color: white;
    position: fixed;
    top: 5%;
    left: 65%;
}

.chatbot-form-user {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    width: 100%;
    margin-bottom: 10px;
}

.chatbot-form-bot {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    margin-bottom: 10px;
}

.chatbot-text-user {
    width: 65%;
    margin-right: 60px;
    letter-spacing: 3px;
    word-spacing: 4px;
    font-weight: 900;
    text-align: end;
}

.chatbot-text-bot {
    width: 65%;
    margin-left: 60px;
    letter-spacing: 3px;
    word-spacing: 4px;
    font-weight: 900;
}

.chatbot-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#chatbot-button {
    width: 250px;
    height: 38px;
    color: white;
    font-style: italic;
    font-weight: 900;
    border-color: transparent;
    background: rgba(190, 7, 7, 0.44);
}


/***********************************PRE FOOTER*******************************************/

.prefooter {
    height: 80px;
    width: 100%;
    background-color: #343434;
}

.textPrefooter {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    width: 30%;
    margin-left: 200px;
    justify-content: space-between;
    color: #fff;
    font-size: 11px;
}

/***********************************FOOTER*******************************************/
.footer {
    height: 400px;
    width: 100%;
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.contenedorFooter {
    width: 1510px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    overflow: hidden;

}

.primer {
    width: calc(100%/4);
    font-size: 10px;
}

.primer h2 {
    color: #fff;
    margin-top: 20px;
    font-size: 15px;
}

.primer h2:hover {
    text-decoration: underline;
    cursor: pointer;
}

.primer h3 {
    display: flex;
    margin-top: 20px;
    color: #8A8A8A;
}

.primer h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.segundo {
    width: calc(100%/4);
    font-size: 10px;
}

.segundo h2 {
    color: #fff;
    margin-top: 20px;
    font-size: 15px;
}

.segundo h2:hover {
    text-decoration: underline;
    cursor: pointer;

}

.segundo h3 {
    display: flex;
    margin-top: 20px;
    color: #8A8A8A;
}

.segundo h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.tercer {
    width: calc(100%/4);
    font-size: 10px;
}

.tercer h2 {
    color: #fff;
    margin-top: 20px;
    font-size: 15px;
}

.tercer h2:hover {
    text-decoration: underline;
    cursor: pointer;
}

.tercer h3 {
    display: flex;
    margin-top: 20px;
    color: #8A8A8A;
}

.tercer h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cuarto {
    color: #fff;
    margin-top: 20px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 10px;
}

.redes2 a {
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 20px;
    transition: .3s;
    margin-top: 15px;
    margin-left: 15px;


}

.redes2 a:hover {
    background-color: #970505;
    color: #fff;
}

/***********************************ULTIMO*******************************************/


.ultimoFooter {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #000000;
    color: #8A8A8A;
    font-size: 10px;
}

.uno {
    margin-left: 200px;
    margin-top: 30px;
}

.dos {
    margin-top: 30px;
    margin-left: 50px;
}

.tres {
    margin-top: 30px;
    margin-left: 486px;
}

.cuatrop {
    margin-top: 30px;
    margin-left: 50px;
}

/*media querys*/
/*Portatiles grande*/
@media(width>1440px) {
    #logo-chat {
        left: 90%;
    }

    #chatbot-form {
        width: 300px;
        height: 500px;
        top: 5%;
        left: 65%;
    }
}

/*Portatiles*/
@media(768px< width<=1440px) {
    .card {
        width: calc((100%/2));
    }

    .carrusel {
        height: 630px;
    }

    .cards {
        margin-right: 10px;
        max-width: 767px;
        margin: 30px auto;
    }

    .ultimoFooter {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        overflow: hidden;
    }

    .uno {
        margin-left: 20px;
        margin-top: 10px;
    }

    .dos {
        margin-left: 20px;
        margin-top: 10px;
    }

    .tres {
        margin-left: 20px;
        margin-top: 10px;
    }

    .cuatrop {
        margin-left: 20px;
        margin-top: 10px;
    }

    #logo-chat {
        left: 85%;
    }

    #chatbot-form {
        width: 300px;
        height: 500px;
        top: 10%;
        left: 50%;
    }
}



/*tablets*/
@media(600px< width<=768px) {
    .card {
        width: calc((100%/1));
    }

    .cards {
        margin-right: 10px;
        width: 500px;
        margin: 30px auto;
    }

    .footer {
        height: 450px;
    }

    .ultimoFooter {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .uno {
        margin-left: 20px;
        margin-top: 10px;
    }

    .dos {
        margin-left: 20px;
        margin-top: 10px;
    }

    .tres {
        margin-left: 20px;
        margin-top: 10px;
    }

    .cuatrop {
        margin-left: 20px;
        margin-top: 10px;
    }

    #logo-chat {
        left: 80%;
    }

    #chatbot-form {
        width: 300px;
        height: 470px;
        top: 20%;
        left: 30%;
    }

    .textPrefooter {

        margin-left: 100px;

    }
}

/*celulares*/
@media(width<=600px) {
    .card {
        width: calc((100%/1));
    }

    .cards {
        margin-right: 10px;
        width: 500px;
        margin: 30px auto;
    }

    header {
        margin: 15px;
        display: flex;
        flex-wrap: wrap;
    }

    .lista_menu {
        display: flex;
        flex-wrap: wrap;
    }

    .logo_nissan {
        width: 100px;

    }

    .logo {
        display: flex;
        margin: 0 auto;
        align-items: center;
    }

    .footer {
        height: 450px;
    }

    .ultimoFooter {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        overflow: hidden;
    }

    .uno {
        margin-left: 20px;
        margin-top: 10px;
    }

    .dos {
        margin-left: 20px;
        margin-top: 10px;
    }

    .tres {
        margin-left: 20px;
        margin-top: 10px;
    }

    .cuatrop {
        margin-left: 20px;
        margin-top: 10px;
    }

    #logo-chat {
        left: 75%;
    }

    #chatbot-form {
        width: 300px;
        height: 470px;
        top: 20%;
        left: 20%;
    }

    .textPrefooter {

        margin-left: 100px;

    }

    .Main {
        margin-top: -91px;
    }
}

@media(width<=530px) {
    .card {
        width: calc((100%/1));

    }

    .cards {
        margin-right: 10px;
        width: 350px;
        margin: 30px auto;
    }

    header {
        margin: 15px;
        display: flex;
        flex-wrap: wrap;
    }

    .logo_nissan {
        width: 100px;


    }

    .logo {
        display: flex;
        margin: 0 auto;
        align-items: center;
    }

    .footer {
        height: 450px;
    }

    .ultimoFooter {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        overflow: hidden;
    }

    .uno {
        margin-left: 20px;
        margin-top: 10px;
    }

    .dos {
        margin-left: 20px;
        margin-top: 10px;
    }

    .tres {
        margin-left: 20px;
        margin-top: 10px;
    }

    .cuatrop {
        margin-left: 20px;
        margin-top: 10px;
    }

    #logo-chat {
        left: 75%;
    }

    #chatbot-form {
        width: 300px;
        height: 470px;
        top: 20%;
        left: 20%;
    }

    .textPrefooter {

        margin-left: 100px;

    }

    .Main {
        margin-top: -91px;
    }
}

@media(width<465px) {
    .card {
        width: calc((100%/1));

    }

    .cards {
        margin-right: 10px;
        width: 350px;
        margin: 30px auto;
    }

    header {
        margin: 15px;
        display: flex;
        flex-wrap: wrap;
    }

    .logo_nissan {
        width: 100px;


    }

    .logo {
        display: flex;
        margin: 0 auto;
        align-items: center;
    }

    .footer {
        height: 450px;
    }

    .ultimoFooter {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        overflow: hidden;
    }

    .uno {
        margin-left: 20px;
        margin-top: 10px;
    }

    .dos {
        margin-left: 20px;
        margin-top: 10px;
    }

    .tres {
        margin-left: 20px;
        margin-top: 10px;
    }

    .cuatrop {
        margin-left: 20px;
        margin-top: 10px;
    }

    #logo-chat {
        left: 75%;
    }

    #chatbot-form {
        width: 300px;
        height: 470px;
        top: 20%;
        left: 15%;
    }

    .textPrefooter {

        margin-left: 100px;

    }

    .Main {
        margin-top: -110px;
    }

    .autoselectpro h2 {
        font-size: 10px;
    }
}