*{
  padding: 0;
  margin: 0;

}

header {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

.logo_nissan {
  width: 130px;
}

.menu {
  width: 650px;
}


.lista_menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.a_menu {
  text-decoration: none;
}

.texto_menu {
  font-size: 14px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.logo_menu {
  width: 30px;

}

/************PRE FOOTER**************/

.prefooter {
  height: 80px;
  width: 100%;
  background-color: #343434;
}

.textPrefooter {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  width: 30%;
  margin-left: 200px;
  justify-content: space-between;
  color: #fff;
  font-size: 11px;
}

/************FOOTER**************/
.footer {
  height: 400px;
  width: 100%;
  background-color: #1A1A1A;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.contenedorFooter {
  width: 1510px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  overflow: hidden;

}

.primer {
  width: calc(100%/4);
  font-size: 10px;
}

.primer h2 {
  color: #fff;
  margin-top: 20px;
  font-size: 15px;
}

.primer h2:hover {
  text-decoration: underline;
  cursor: pointer;
}

.primer h3 {
  display: flex;
  margin-top: 20px;
  color: #8A8A8A;
}

.primer h3:hover {
  text-decoration: underline;
  cursor: pointer;
}

.segundo {
  width: calc(100%/4);
  font-size: 10px;
}

.segundo h2 {
  color: #fff;
  margin-top: 20px;
  font-size: 15px;
}

.segundo h2:hover {
  text-decoration: underline;
  cursor: pointer;

}

.segundo h3 {
  display: flex;
  margin-top: 20px;
  color: #8A8A8A;
}

.segundo h3:hover {
  text-decoration: underline;
  cursor: pointer;
}

.tercer {
  width: calc(100%/4);
  font-size: 10px;
}

.tercer h2 {
  color: #fff;
  margin-top: 20px;
  font-size: 15px;
}

.tercer h2:hover {
  text-decoration: underline;
  cursor: pointer;
}

.tercer h3 {
  display: flex;
  margin-top: 20px;
  color: #8A8A8A;
}

.tercer h3:hover {
  text-decoration: underline;
  cursor: pointer;
}

.cuarto {
  color: #fff;
  margin-top: 20px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 10px;
}

.redes2 a {
  color: #FFFFFF;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  font-size: 20px;
  transition: .3s;
  margin-top: 15px;
  margin-left: 15px;


}

.redes2 a:hover {
  background-color: #970505;
  color: #fff;
}

h1 {
  font-size: 24px;
  margin-bottom: 16px;
}

.titulo {
  text-align: center;
  margin-top: 50px;
  font-size: 35px;
}

.informacion {
  text-align: center;
  font-size: 14px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  margin: 0 auto;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
  width: 90%;
}

.text {
  width: 1000px;
}

input,
select {
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  width: 95%;
  height: 30px;
  border: 1px solid #0A0A0A;
}

.input_notext {
  padding: 10px;
  width: 95%;
  height: 30px;
  border: 1px solid #0A0A0A;
}

.input_select {
  padding: 10px;
  width: 100%;
  height: 60px;
  border: 1px solid #0A0A0A;
}

select {
  width: 555px;
  height: 55px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.boton-enviar {
  background-color: #C3002F;
  color: #fff;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
}

.boton-enviar:hover {
  background-color: #A6052B;
  color: white;
}

.boton-enviar::after {
  content: ">";
  margin-left: 90%;
}

.leido2 {
  margin-right: 90px;
}

.obligatorio {
  padding: 10px 0 20px 0;
}

textarea {
  height: 150px;
  width: 95%;
}

/************ULTIMO**************/


.ultimoFooter {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #000000;
  color: #8A8A8A;
  font-size: 10px;
}

.uno {
  margin-left: 200px;
  margin-top: 30px;
}

.dos {
  margin-top: 30px;
  margin-left: 50px;
}

.tres {
  margin-top: 30px;
  margin-left: 486px;
}

.cuatrop {
  margin-top: 30px;
  margin-left: 50px;
}

/*RESPONSIVE*/

/*Portatiles*/
@media(768px< width<1300px) {


  .ultimoFooter {
      display: flex;
      justify-content: center;
      justify-content: space-between;
      overflow: hidden;
  }

  .uno {
      margin-left: 20px;
      margin-top: 10px;
  }

  .dos {
      margin-left: 20px;
      margin-top: 10px;
  }

  .tres {
      margin-left: 20px;
      margin-top: 10px;
  }

  .cuatrop {
      margin-left: 20px;
      margin-top: 10px;
  }

  .logo_autoselectpro {
      left: 85%;
  }
}

/*tablets*/
@media(600px< width<=768px) {
  header {
      display: flex;
      flex-direction: column;
  }

  .logo {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
  }

  .menu {
      width: 100%;
  }

  .footer {
      height: 450px;
  }

  .ultimoFooter {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
  }

  .uno {
      margin-left: 20px;
      margin-top: 10px;
  }

  .dos {
      margin-left: 20px;
      margin-top: 10px;
  }

  .tres {
      margin-left: 20px;
      margin-top: 10px;
  }

  .cuatrop {
      margin-left: 20px;
      margin-top: 10px;
  }

  .textPrefooter {

      margin-left: 100px;

  }

  .logo_autoselectpro {
      left: 85%;
  }
}

/*celulares*/
@media(width<=600px) {
  header {
      display: flex;
      flex-direction: column;
  }

  .logo {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
  }

  .logo_nissan {
      width: 80px;
  }

  .menu {
      width: 100%;
  }

  .lista_menu {
      flex-wrap: wrap;
      padding-left: 10px;
  }

  #mensaje {
      width: 90%;
  }

  .footer {
      height: 450px;
  }


  .ultimoFooter {
      display: flex;
      justify-content: center;
      justify-content: space-between;
      overflow: hidden;
  }

  .uno {
      margin-left: 20px;
      margin-top: 10px;
  }

  .dos {
      margin-left: 20px;
      margin-top: 10px;
  }

  .tres {
      margin-left: 20px;
      margin-top: 10px;
  }

  .cuatrop {
      margin-left: 20px;
      margin-top: 10px;
  }

  .textPrefooter {

      margin-left: 100px;

  }

  .logo_autoselectpro {
      left: 85%;
  }

}