* {
    padding: 0;
    margin: 0;
    font-family: "Nissan Light", "Nissan Regular", Verdana, Arial, sans-serif;
}

header {
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

.logo_nissan {
    width: 130px;
}

.menu {
    width: 650px;
}

.lista_menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.a_menu {
    text-decoration: none;
}

.texto_menu {
    font-size: 14px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.logo_menu {
    width: 30px;
}

.preMain1 {
    text-align: center;
    padding: 25px;
}

.preTexto1 {
    font-weight: 100;
    font-size: 30px;
}

.preMain2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.botonRojo1 {
    width: 200px;
    height: 40px;
    background-color: #c3002f;
    color: white;
    border: none;
    cursor: pointer;
}

.botonRojo1:hover {
    background-color: #ac022a;
}

.espacio1 {
    padding: 10px;
}

.imagenFondo {
    background: url(../img/banner-principal-vehiculos-comerciales-v2.png.ximg.l_full_m.smart.png);
    background-size: cover;
    background-attachment: scroll;
    width: 100%;
    height: 900px;
    display: flex;
}

.bloqueGris {
    width: 500px;
    height: 320px;
    background: rgba(0, 0, 0, .6);
    margin: 50px;
    color: white;
}

.titulobGris {
    font-size: 30px;
    padding: 15px;
    font-weight: 100;
}

.textobGris {
    padding: 15px;
    font-size: 15px;
}

.lineaRoja1 {
    width: 50px;
    height: 5px;
    background-color: #ac022a;
    margin: 30px auto 10px;
}

.primerTitulo {
    text-align: center;
    padding: 20px;
}

.titulo1 {
    font-weight: 100;
    font-size: 25px;
}

.seccionPrimera {
    display: flex;
    justify-content: space-around;
}

.imagenc1 {
    padding: 15px;
}

.imagen1 {
    width: 580px;
    border-radius: 5px;
}


.texto1 {
    width: 600px;
}

.titulo2 {
    color: #343434;
    padding: 15px;
}

.textoPrimero {
    padding: 15px;
}

.seccionSegunda {
    display: flex;
    justify-content: space-around;
}

.texto2 {
    width: 600px;
}

.titulo3 {
    color: #343434;
    padding: 15px;
}

.textoSegundo {
    padding: 15px;
}

.imagenc2 {
    padding: 15px;
}

.imagen2 {
    width: 580px;
    border-radius: 5px;
}

.lineaRoja2 {
    width: 50px;
    height: 5px;
    background-color: #ac022a;
    margin: 30px auto 10px;
}

.segundoTitulo {
    text-align: center;
    padding: 20px;
}

.titulo4 {
    font-weight: 100;
    font-size: 25px;
}

.seccionTercera {
    display: flex;
    justify-content: space-around;
}

.imagenc3 {
    padding: 15px;
}

.imagen3 {
    width: 580px;
    border-radius: 5px;
}

.texto3 {
    width: 600px;
}

.textoTercero {
    font-size: 25px;
    padding: 15px;
}

.separacion {
    padding: 50px;
}


/***********************************PRE FOOTER*******************************************/

.prefooter {
    height: 80px;
    width: 100%;
    background-color: #343434;
}

.textPrefooter {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    width: 30%;
    margin-left: 200px;
    justify-content: space-around;
    color: #fff;
    font-size: 11px;
}

/***********************************FOOTER*******************************************/
.footer {
    height: 400px;
    width: 100%;
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.contenedorFooter {
    width: 1510px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    overflow: hidden;
}

.primer {
    width: calc(100%/4);
    font-size: 10px;
}

.primer h2 {
    color: #fff;
    margin-top: 20px;
    font-size: 15px;
}

.primer h2:hover {
    text-decoration: underline;
    cursor: pointer;
}

.primer h3 {
    display: flex;
    margin-top: 20px;
    color: #8A8A8A;
}

.primer h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.segundo {
    width: calc(100%/4);
    font-size: 10px;
}

.segundo h2 {
    color: #fff;
    margin-top: 20px;
    font-size: 15px;
}

.segundo h2:hover {
    text-decoration: underline;
    cursor: pointer;

}

.segundo h3 {
    display: flex;
    margin-top: 20px;
    color: #8A8A8A;
}

.segundo h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.tercer {
    width: calc(100%/4);
    font-size: 10px;
}

.tercer h2 {
    color: #fff;
    margin-top: 20px;
    font-size: 15px;
}

.tercer h2:hover {
    text-decoration: underline;
    cursor: pointer;
}

.tercer h3 {
    display: flex;
    margin-top: 20px;
    color: #8A8A8A;
}

.tercer h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cuarto {
    color: #fff;
    margin-top: 20px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 10px;
}

.redes2 a {
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 20px;
    transition: .3s;
    margin-top: 15px;
    margin-left: 15px;
}

.redes2 a:hover {
    background-color: #970505;
    color: #fff;
}

/***********************************ULTIMO*******************************************/


.ultimoFooter {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #000000;
    color: #8A8A8A;
    font-size: 10px;
}

.uno {
    margin-left: 200px;
    margin-top: 30px;
}

.dos {
    margin-top: 30px;
    margin-left: 50px;
}

.tres {
    margin-top: 30px;
    margin-left: 486px;
}

.cuatrop {
    margin-top: 30px;
    margin-left: 50px;
}


/* Media querys para el footer */

@media(1300px< width<1600) {
    .imagenFondo {
        height: 650px;
    }
}


@media(768px< width<1300px) {

    .preTexto1 {
        font-weight: 100;
        font-size: 20px;
    }

    .preMain2 {
        font-size: 12px;
    }

    .botonRojo1 {
        width: 160px;
        height: 30px;
        font-size: 10px;
    }

    .imagenFondo {
        height: 550px;
    }

    .seccionPrimera {
        display: flex;
        flex-wrap: wrap;
    }

    .seccionSegunda {
        display: flex;
        flex-wrap: wrap;
    }

    .seccionTercera {
        display: flex;
        flex-wrap: wrap;
    }


    .bloqueGris {
        width: 450px;
        height: 280px;
    }

    .titulobGris {
        font-size: 25px;
    }

    .textobGris {
        font-size: 12px;
    }

    .titulo1 {
        font-size: 25px;
    }

    .imagen1 {
        width: 520px;
    }

    .imagen2 {
        width: 520px;
    }

    .titulo4 {
        font-size: 25px;
    }


    .imagen3 {
        width: 520px;
    }

    .textoTercero {
        font-size: 20px;
    }

    .separacion {
        padding: 100px;
    }



    .ultimoFooter {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        overflow: hidden;
    }

    .uno {
        margin-left: 20px;
        margin-top: 10px;
    }

    .dos {
        margin-left: 20px;
        margin-top: 10px;
    }

    .tres {
        margin-left: 20px;
        margin-top: 10px;
    }

    .cuatrop {
        margin-left: 20px;
        margin-top: 10px;
    }

    .logo_autoselectpro {
        left: 90%;
    }
}


@media(600px< width<=768px) {


    .preTexto1 {
        font-weight: 100;
        font-size: 20px;
    }

    .preMain2 {
        font-size: 11px;
    }

    .botonRojo1 {
        width: 135px;
        height: 30px;
        font-size: 9px;
    }

    .imagenFondo {
        height: 400px;
    }

    .seccionPrimera {
        display: flex;
        flex-wrap: wrap;
    }

    .seccionSegunda {
        display: flex;
        flex-wrap: wrap;
    }

    .seccionTercera {
        display: flex;
        flex-wrap: wrap;
    }


    .bloqueGris {
        width: 450px;
        height: 280px;
        margin: 25px;
    }

    .titulobGris {
        font-size: 20px;
    }

    .textobGris {
        font-size: 12px;
    }

    .titulo1 {
        font-size: 20px;
    }

    .imagen1 {
        width: 400px;
    }

    .imagen2 {
        width: 400px;
    }

    .titulo4 {
        font-size: 20px;
    }


    .imagen3 {
        width: 400px;
    }

    .texto1 {
        font-size: 13px;
    }

    .texto2 {
        font-size: 13px;
    }


    .textoTercero {
        font-size: 17px;
    }

    .separacion {
        padding: 100px;
    }



    .footer {
        height: 450px;
    }

    .ultimoFooter {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .uno {
        margin-left: 20px;
        margin-top: 10px;
    }

    .dos {
        margin-left: 20px;
        margin-top: 10px;
    }

    .tres {
        margin-left: 20px;
        margin-top: 10px;
    }

    .cuatrop {
        margin-left: 20px;
        margin-top: 10px;
    }

    .logo_autoselectpro {

        left: 85%;
    }

    .textPrefooter {

        margin-left: 100px;

    }
}

@media(width<=600px) {
    header {
        margin: 15px;
        display: flex;
        flex-wrap: wrap;
    }

    .lista_menu {
        display: flex;
        flex-wrap: wrap;
    }

    .logo_nissan {
        width: 100px;

    }

    .logo {
        display: flex;
        margin: 0 auto;
        align-items: center;
    }

    .botonRojo1 {
        width: 120px;
        height: 25px;
        font-size: 7px;
    }


    .preTexto1 {
        font-weight: 100;
        font-size: 20px;
    }

    .preMain2 {
        font-size: 11px;
    }

    .botonRojo1 {
        width: 135px;
        height: 30px;
        font-size: 9px;
    }

    .imagenFondo {
        height: 300px;
    }

    .seccionPrimera {
        display: flex;
        flex-wrap: wrap;
    }

    .seccionSegunda {
        display: flex;
        flex-wrap: wrap;
    }

    .seccionTercera {
        display: flex;
        flex-wrap: wrap;
    }


    .bloqueGris {
        width: 700px;
        height: 280px;
        margin: 10px;
    }

    .titulobGris {
        font-size: 20px;
    }

    .textobGris {
        font-size: 12px;
    }

    .titulo1 {
        font-size: 18px;
    }

    .imagen1 {
        width: 350px;
    }

    .imagen2 {
        width: 350px;
    }

    .titulo4 {
        font-size: 18px;
    }


    .imagen3 {
        width: 350px;
    }

    .texto1 {
        font-size: 12px;
    }

    .texto2 {
        font-size: 12px;
    }


    .textoTercero {
        font-size: 15px;
    }

    .separacion {
        padding: 100px;
    }


    .footer {
        height: 450px;
    }

    .ultimoFooter {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        overflow: hidden;
    }

    .uno {
        margin-left: 20px;
        margin-top: 10px;
    }

    .dos {
        margin-left: 20px;
        margin-top: 10px;
    }

    .tres {
        margin-left: 20px;
        margin-top: 10px;
    }

    .cuatrop {
        margin-left: 20px;
        margin-top: 10px;
    }

    .logo_autoselectpro {
        left: 85%;
    }

    .textPrefooter {

        margin-left: 100px;

    }

    .Main {
        margin-top: -91px;
    }
}

@media(width<=530px) {
    header {
        margin: 15px;
        display: flex;
        flex-wrap: wrap;
    }

    .logo_nissan {
        width: 100px;


    }

    .logo {
        display: flex;
        margin: 0 auto;
        align-items: center;
    }

    .footer {
        height: 450px;
    }

    .ultimoFooter {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        overflow: hidden;
    }

    .uno {
        margin-left: 20px;
        margin-top: 10px;
    }

    .dos {
        margin-left: 20px;
        margin-top: 10px;
    }

    .tres {
        margin-left: 20px;
        margin-top: 10px;
    }

    .cuatrop {
        margin-left: 20px;
        margin-top: 10px;
    }

    .logo_autoselectpro {
        left: 85%;
    }

    .textPrefooter {

        margin-left: 100px;

    }
}

@media(width<465px) {

    .botonRojo1 {
        width: 100px;
        height: 30px;
        font-size: 8px;
    }

    .preTexto1 {
        font-weight: 100;
        font-size: 15px;
    }

    .imagen1 {
        width: 280px;
    }

    .imagen2 {
        width: 280px;
    }

    .imagen3 {
        width: 280px;
    }

    .imagenFondo {
        height: 220px;
    }

    .bloqueGris {
        width: 450px;
        height: 200px;

    }

    .titulobGris {
        font-size: 12px;
        padding: 10px;
    }

    .textobGris {
        font-size: 10px;
        padding: 5px;
    }


    header {
        margin: 15px;
        display: flex;
        flex-wrap: wrap;
    }

    .logo_nissan {
        width: 100px;


    }

    .logo {
        display: flex;
        margin: 0 auto;
        align-items: center;
    }

    .footer {
        height: 450px;
    }

    .ultimoFooter {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        overflow: hidden;
    }

    .uno {
        margin-left: 20px;
        margin-top: 10px;
    }

    .dos {
        margin-left: 20px;
        margin-top: 10px;
    }

    .tres {
        margin-left: 20px;
        margin-top: 10px;
    }

    .cuatrop {
        margin-left: 20px;
        margin-top: 10px;
    }

    .logo_autoselectpro {
        left: 85%;
    }

    .textPrefooter {

        margin-left: 100px;

    }

}