*{
    padding: 0;
    margin: 0;
    font-family: "Nissan Light","Nissan Regular",Verdana,Arial,sans-serif;
}
header{ 
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

.logo_nissan{
    width: 130px;
}

.menu{
    width: 650px;
}


.lista_menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.a_menu{
    text-decoration: none;
}

.texto_menu{
    font-size: 14px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.logo_menu{
    width: 30px;
    
}

.preMain1{
    text-align: center;
    padding: 25px;
    font-family: "Nissan Light","Nissan Regular",Verdana,Arial,sans-serif;
}

.preTexto1{
    font-weight: 100;
    font-size: 30px;
}

.preMain2{
    display: flex;
    font-family: "Nissan Regular","Nissan Regular",Verdana,Arial,sans-serif;
    justify-content: space-around;
    padding: 20px;
}

.botonRojo1{
    width: 200px;
    height: 40px;
    font-family: "Nissan Regular","Nissan Regular",Verdana,Arial,sans-serif;
    background-color: #c3002f;
    color: white;
    border: none;
    cursor: pointer;
}

.botonRojo1:hover{
    background-color: #ac022a;
}

.imagenFondo{
   background: url(../img/banner-principal-vehiculos-comerciales-v2.png.ximg.l_full_m.smart.png);
   background-size: cover;
   background-attachment: scroll;
   height: 115vh;
   display: flex;
}

.bloqueGris{
    width: 500px;
    height: 320px;
    background: rgba(0,0,0,.6);
    margin: 50px;
    color: white;
    font-family: "Nissan Regular","Nissan Regular",Verdana,Arial,sans-serif;
}

.titulobGris{
    font-size: 30px;
    padding: 15px;
    font-weight: 100;
}

.textobGris{
    padding: 15px;
    font-size: 15px;
}

.lineaRoja1{
    width: 50px;
    height: 5px;
    background-color: #ac022a;
    margin: 30px auto 10px;
}

.primerTitulo{
    text-align: center;
    font-family: "Nissan Regular","Nissan Regular",Verdana,Arial,sans-serif;
    padding: 20px;
}

.titulo1{
    font-weight: 100;
    font-size: 25px;
}

.seccionPrimera{
    display: flex;
    justify-content: space-around;
}

.imagen1{
    width: 500px;
    border-radius: 5px;
}

.texto1{
    width: 600px;
}



/***********************************PRE FOOTER*******************************************/

.prefooter{
    height: 80px;
    width: 100%;
    background-color: #343434;
}
.textPrefooter{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    width: 30%;
    margin-left: 200px;
    justify-content: space-between;
    color: #fff;
    font-size: 11px;
}

/***********************************FOOTER*******************************************/
.footer{
    height: 400px;
    width: 100%;
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.contenedorFooter{
    width: 1510px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    overflow: hidden;
   
}
.primer{
    width: calc(100%/4);
    font-size: 10px;
}

.primer h2{
    color: #fff;
    margin-top: 20px;
    font-size: 15px;
}
.primer h2:hover{
    text-decoration: underline;
    cursor: pointer;
}
.primer h3{
    display: flex;
    margin-top: 20px;
    color: #8A8A8A;
}
.primer h3:hover{
    text-decoration: underline;
    cursor: pointer;
}
.segundo{
    width: calc(100%/4);
    font-size: 10px;
}
.segundo h2{
    color: #fff;
    margin-top: 20px;
    font-size: 15px;
}
.segundo h2:hover{
    text-decoration: underline;
    cursor: pointer;

}
.segundo h3{
    display: flex;
    margin-top: 20px;
    color: #8A8A8A;
}
.segundo h3:hover{
    text-decoration: underline;
    cursor: pointer;
}
.tercer{
    width: calc(100%/4);
    font-size: 10px;
}
.tercer h2{
    color: #fff;
    margin-top: 20px;
    font-size: 15px;
}
.tercer h2:hover{
    text-decoration: underline;
    cursor: pointer;
}
.tercer h3{
    display: flex;
    margin-top: 20px;
    color: #8A8A8A;
}
.tercer h3:hover{
    text-decoration: underline;
    cursor: pointer;
}
.cuarto{
    color: #fff;
    margin-top: 20px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 10px;
}
.redes2 a{
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 20px;
    transition: .3s;
    margin-top: 15px;
    margin-left: 15px;
    

}
.redes2 a:hover{
    background-color: #970505;
    color: #fff;
}
/***********************************ULTIMO*******************************************/


.ultimoFooter{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #000000;
    color: #8A8A8A;
    font-size: 10px;
}
.uno{
    margin-left: 200px;
    margin-top: 30px;
}
.dos{
    margin-top: 30px;
    margin-left: 50px;
}
.tres{
    margin-top: 30px;
    margin-left: 486px;
}
.cuatrop{
    margin-top: 30px;
    margin-left: 50px;
}